* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'cursiva', sans-serif;
}

body {
    background: #727c81
}

.calculator {
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 10px;
    background-color: black;
}

.result {
    height: 100px;
    color: #dfdfdf;
    text-align: right;
    font-size: 35px;
    word-wrap: break-word;
    border-bottom: 1px solid #50d35b;
}

table td {
    display: inline-block;
}

.btn {
    margin: 3px;
    width: 50px;
    height: 40px;
    cursor: pointer;
    border: none;
    background-color: #dfdfdf;
    color: black;
    font-size: 16px;
    transition: all 500ms ease-in-out;
}

.btn:hover {
    background-color: #8eb898c2;
}

.ac {
    width: 106px;
    background-color: #50d35b;
    font-weight: bold;
}

.ac:hover {
    background-color: #9ad49fc4;
}

.special {
    background-color: #3b6947;
}

.special:hover {
    background-color: #8eb898c2;
}

.equal {
    width: 106px;
    background-color: #50d35b;
    font-weight: bold;
}

.equal:hover {
    background-color: #9ad49fc4;

}